<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
</head>
<body>
<h1>Категории</h1>

<p>
    <a th:href="@{/lab}">На главную</a> |
    <a th:href="@{/categories/new}">+ Добавить категорию</a>
</p>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${categories}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td>
            <a th:href="@{/categories/{id}/edit(id=${c.id})}">Редактировать</a>
            <form th:action="@{/categories/{id}/delete(id=${c.id})}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>